html, body {
  padding: 0;
  margin: 0;
}

.col-center {
  padding-left: 0;
  padding-right: 0;
}

.stateBox {
  padding-top: 30px;
}

.leftbar {
  padding: 15px 0;
}

.currentBox {
  background: #f1f1f1;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button {
  margin: 10px;
  width: 150px;
}

.highlight {
  background: #666;
}

.name {
  padding: 5px;
}

.person {
  border-top: 1px #ccc solid;
  margin: 5px 0 0;
  padding: 5px;
}

.peopleCount {
  border-top: 1px #ccc solid;
  font-size: 0.8em;
  padding: 5px;
  text-align: right;
}
